/***********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 1460px) { 

    h1, .h1 { &.fz-lg {font-size: 100px; line-height: 114px;  } } 

    /***********************************
    HEADER STYLES
    ***********************************/
    .header .navbar .navbar-collapse { 
        padding-right: 15px; 
    }

    .sidr .sidr-inner {

        .mobile-header {
            padding: 70px 80px 67px;

            .navbar-header { 
                padding-bottom: 60px;
            }

            .navigation .navbar-nav > li { 
                padding: 18px 0;
            }

            .navbar-brand {
                padding-top: 40px;
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 380px 0 230px;

        &__overly {
            top: -1067px;
        }

        &__content {
            max-width: 831px;
        }
    }

    .the-data {
        padding: 30px 0 250px;
    }

    .join-our {
        padding-bottom: 150px;
    }

    .faq-section {
        padding-bottom: 180px;
    }

    .another-section {
        padding-top: 180px;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding-top: 300px;
    }

}/* 1460 */

@media only screen and (max-width: 1366px) { 

    h1, .h1 { font-size: 60px; line-height: 72px; &.fz-lg { font-size: 84px; line-height: 104px; } } 

    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 134px;
        min-height: 134px;
    }

    .header .navbar {
        padding: 40px 0;

        .navbar-collapse .navbar-nav.navbar-right {
            padding-left: 60px;
        }
    }

    .sidr .sidr-inner {

        .mobile-header {
            padding: 60px 70px;


            .navbar-header { 
                padding-bottom: 50px;
            }

            .navigation .navbar-nav > li { 
                padding: 15px 0;
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 250px 0 280px;

        &__overly {
            top: -1050px;
            left: -943px;
        }

        &__content {
            
            .title {
                max-width: 698px;
            }
        }
    }

    .the-data {
        padding: 30px 0 200px;
    }

    .join-our {
        padding-bottom: 120px;
    }

    .faq-section {
        padding: 150px 0;
    }

    .another-section {
        padding-top: 150px;

        &__content-wraper {
            padding: 80px;
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding-top: 220px;

        &__logo {
            margin-bottom: 30px;
        }

        &__button {
            margin-bottom: 25px;
        }

        &__condition {
            margin-bottom: 25px;
        }
    }

} /* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 48px; line-height: 60px; &.fz-lg { font-size: 60px; line-height: 72px; } }
    h2, .h2 { font-size: 42px;  line-height: 54px; }

    body {
        font-size: 20px;
        line-height: 28px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {  

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-right) {

                        > li {

                            &:not(.btn-menu) {

                                &:nth-last-child(2) {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.navbar-right {
                        padding-left: 30px;
                    }
                }
            }
        }
    }

   /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 220px 0 200px;

        &__overly {
            top: -1120px; 
        }

        &__content {

            .title {
                max-width: 498px;
            }

            .scrollDown { 
                margin-top: 35px; 
            }
        }
    }

    .about {
        padding-top: 80px;

        &__media { 
            top: inherit;
            left: inherit;
            position: inherit;
            text-align: center;
            margin-bottom: 30px;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        &__content {
            margin-left: inherit;
            max-width: 100%;

            .sub-title {
                margin-bottom: 5px;
            }
        }
    }

    .the-data {
        padding: 80px 0 120px;

        &__content {
            max-width: 100%; 
            margin-bottom: 40px;
            margin-right: inherit;
        }

        &__media {
            margin-left: inherit;
            margin-right: inherit;
        }
    }

    .join-our {
        padding-bottom: 100px;

        &__content .icon { 
            margin-bottom: 70px; 
        }
    }

    .faq-section {
        padding: 120px 0;

        &__content {
            max-width: 100%;
            margin-bottom: 40px;
        }
    }

    #faqs .card { 
        margin-bottom: 25px;

        .card-header {
            padding: 12px 0;
        }
    }

    .another-section {
        padding-top: 120px;

        &__content-wraper {
            padding: 70px 50px;
        }

        &__description {
            max-width: 614px;
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding-top: 150px; 
    }

}/* 1199 */ 

@media only screen and (max-width: 1050px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {  

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-right) {

                        > li {

                            &:not(.btn-menu) {

                                &:nth-last-child(3) {
                                    display: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .another-section {

        &__content {
            margin-right: 45px;
        }

        &__description {
            max-width: 510px;
        }
    }

}/* 1050 */

@media only screen and (max-width: 991px) { 
 
    h1, .h1 { font-size: 42px; line-height: 54px; &.fz-lg { font-size: 48px; line-height: 60px; } }
    h2, .h2 { font-size: 36px;  line-height: 48px; }
    h3, .h3 { font-size: 32px;  line-height: 44px; }
    h4, .h4 { font-size: 26px;  line-height: 38px; } 
    h5, .h5 { font-size: 22px;  line-height: 34px; } 

    .btn.btn-big {
        font-size: 30px;
        line-height: 42px; 
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .sidr .sidr-inner {

        .mobile-header {
            padding: 50px 60px;

            .navbar-header { 
                padding-bottom: 40px;
            }

            .navigation .navbar-nav > li { 
                padding: 10px 0;

                a {
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding-bottom: 100px;

        &__overly {
            top: -1162px; 
        }

        &__content {
            
            .title {
                max-width: 399px;
            }

            .description {
                font-size: 24px;
                line-height: 34px;
            }
        }
    } 

    .the-data {
        padding-bottom: 100px;  
    }

    .join-our {
        margin-top: 60px;

        &__content {

            .icon { 
                width: 120px;
                height: 120px; 
                font-size: 50px;
                margin-top: -60px; 
                margin-bottom: 50px;
            }
        }
    }

    .faq-section {
        padding: 100px 0;

        &__content { 
            margin-bottom: 30px;
        }
    }

    #faqs .card { 
        margin-bottom: 20px;

        .card-header {
            padding: 10px 0;
        }
    }

    .another-section {
        padding-top: 100px;

        &__content {
            margin-right: 40px;

            &-wraper {
                padding: 50px 30px;
            }

            .btn {
                margin-top: 20px;
            }
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 120px 0; 
    }

}/* 991 */

@media only screen and (max-width: 850px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {  

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-right) {

                        > li {

                            &:not(.btn-menu) {

                                &:nth-last-child(4) {
                                    display: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .another-section { 

        &__description {
            max-width: 350px;
        }
    }

}/* 850 */

@media only screen and (max-width: 820px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {  

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-right) {

                        > li {

                            &:not(.btn-menu) {

                                &:nth-last-child(5) {
                                    display: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}/* 820 */

@media only screen and (max-width: 767px) {
 
    h1, .h1 { font-size: 36px; line-height: 48px; &.fz-lg { font-size: 42px; line-height: 54px; } }
    h2, .h2 { font-size: 32px;  line-height: 44px; }
    h3, .h3 { font-size: 26px;  line-height: 38px; }
    h4, .h4 { font-size: 22px;  line-height: 34px; } 
    h5, .h5 { font-size: 20px;  line-height: 32px; } 

    .btn {
        padding: 6px 15px;

        span {
            font-size: 18px;
            margin-right: 13px;
        }

        &.btn-big {
            font-size: 24px;
            line-height: 36px;
            padding: 10px 15px;

            span {
                font-size: 23px;
            }
        }
    }
    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 128px;
        min-height: 128px;
    }

    .header .navbar .navbar-collapse {

        .navbar-nav {

            li.btn-menu {

                a {
                    padding: 6px 15px;

                    span {
                        font-size: 18px;
                        margin-right: 13px;
                    }
                }
            }

            &.navbar-right {
                padding-left: 20px;
            }
        }
    }

    .sidr .sidr-inner {

        .mobile-header {
            padding: 40px 50px;

            .navbar-header { 
                padding-bottom: 30px;
            } 

            .navbar-brand {
                padding-top: 30px;
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 220px 0 60px;

        &:after {
            clip-path: polygon(116% 80%, 0 93%, -12% 507%);
        }

        &__overly {
            top: -1165px; 
        }

        &__content {
            
            .title {
                max-width: 349px;
            }

            .description {
                font-size: 20px;
                line-height: 30px;
            }

            .scrollDown {
                width: 55px;
                height: 55px; 
                font-size: 26px; 
                margin-top: 25px; 
                line-height: 55px; 
            }
        }
    } 

    .the-data {
        padding-bottom: 80px;  
    }

    .join-our {

        &__content {

            .icon { 
                width: 80px;
                height: 80px; 
                font-size: 40px;
                margin-top: -40px; 
                margin-bottom: 40px;
            }
        }
    }

    .faq-section {
        padding: 80px 0;

        &__content { 
            margin-bottom: 20px;
        }
    }

    #faqs .card { 
        margin-bottom: 15px;

        .card-header {
            padding: 8px 0;
        }
    }

    .another-section {
        padding-top: 80px;

        &__content {
            max-width: 100%;
            margin-bottom: 30px;
            margin-right: inherit;

            &-wraper {
                padding: 50px 30px;
                align-items: start !important;
            }

            .btn {
                font-size: 20px;
                margin-top: 15px;
                line-height: 30px;
                padding: 10px 15px;
            }
        }

        &__description {
            max-width: 100%;
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 100px 0; 
    }
    
    /***********************************
    DEFAULT STYLES
    ***********************************/
    .default-page {
        padding: 60px 0;
    }
   
}/* 767 */

@media only screen and (max-width: 650px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {  

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-right) {

                        > li {

                            &:not(.btn-menu) {

                                &:nth-last-child(6) {
                                    display: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}/* 650 */

@media only screen and (max-width: 575px) { 

    .btn.btn-big {
        font-size: 20px;
        line-height: 32px;
        padding: 8px 12px;

        span {
            font-size: 18px;
        }
    }

    body {
        font-size: 18px;
        line-height: 26px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 117px;
        min-height: 117px;
    }

    .header .navbar .navbar-collapse {

        .navbar-nav {

            li:not(.mobile-navbar-toggler):not(.btn-menu) {
                display: none;
            } 
        }
    }

    .sidr .sidr-inner {

        .mobile-header {
            padding: 30px 15px;

            .navbar-header { 
                padding-bottom: 25px;
            }

            .navigation .navbar-nav > li {
                padding: 8px 0;

                a {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .navbar-brand {
                padding-top: 20px;
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 180px 0 0;

        &__overly {
            top: -1175px; 
        }

        &__content {
            
            .title {
                font-size: 37px;
                line-height: 49px;
            }

             .description {
                font-size: 18px;
                line-height: 28px;
            }
        }
    } 

    .the-data {
        padding-bottom: 60px;  
    }

    .join-our {
        margin-top: 40px;
        padding-bottom: 70px;
    }

    .faq-section {
        padding: 60px 0; 
    }

    #faqs .card {  

        .card-header {
            padding: 8px 0;

            .title {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }

    .another-section {
        padding-top: 60px;

        &__content { 

            &-wraper {
                padding: 40px 20px;
            }
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 70px 0; 
    }

    /***********************************
    DEFAULT STYLES
    ***********************************/
    .default-page {
        padding: 40px 0;
    }

}/* 575 */

@media only screen and (max-width: 480px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {  

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-right) {
                        display: none;
                    } 
                }
            }
        }
    }
}/* 480 */